.box{
    width: 100%;
    height: 90vh;
    background-color: rgb(225, 235, 235);
    position: relative;
}
.l{
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    background-image: url(https://wikici.com/Upload/images/multi/hinh-nen-girl-xinh-4k-full-hd-cho-may-tinh-dien-thoai71575357843.jpg);
    background-repeat: no-repeat; /*không lặp hình nền nếu kích thước phần mềm nhỏ hơn kích thước phần tử*/
    background-position: center center;/*căn chỉnh vị trí hình ảnh so với phần tử*/
    background-size: cover;/*tự động điều chỉnh kích thước ảnh sao cho phù hợp với phần tử*/
}
.nhietdo{
    /* background-color: rgb(161, 161, 202); */
    background-image: linear-gradient(to bottom, red, blue);
    border-radius: 5% ;
    text-align: center;
    box-sizing: border-box;
    border:10px solid rgb(231, 225, 225);
}
.doam{
    left: calc(100%/3);
    /* background-color: rgb(163, 100, 223); */
    background-image: linear-gradient(to bottom, rgb(4, 255, 0), rgb(255, 221, 0));
    border-radius: 5% ;
    text-align: center;
    box-sizing: border-box;
    border:10px solid rgb(244, 239, 239);
}
.anhsang{
    right:0;
    /* background-color: rgb(226, 200, 167); */
    background-image: linear-gradient(to bottom, rgb(93, 82, 82), rgb(255, 225, 0));
    border-radius: 5% ;
    text-align: center;
    box-sizing: border-box;
    border:10px solid rgb(249, 249, 249);
}
.dothi{
    position: absolute;
    bottom: 0%;
    width: calc(200%/3);
    height: calc(200%/3);
    background-color: rgb(14, 13, 13);
    border-radius: 2% ;
}

table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
th,td{
    background-color: rgb(186, 221, 213);
}
.led1{
    right: 0%;
    bottom: calc(100%/3);
    width: calc(100%/3);
    height: calc(200%/6);
    background-color: rgb(97, 32, 175);
    position:absolute;
    border-radius: 5% ;
    text-align: center;
    box-sizing: border-box;
    border:10px solid rgb(244, 239, 239);
}
.led2{
    right: 0%;
    bottom: 0%;
    width: calc(100%/3);
    height: calc(200%/6);
    background-color: rgb(175, 160, 25);
    position:absolute;
    border-radius: 5% ;
    text-align: center;
    box-sizing: border-box;
    border:10px solid rgb(244, 239, 239);
}

#over img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}